<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    Overall GPA:
</div>
<ul>
    {% for course in courses %}
    <li>
        <p><strong>{{ course.name }} </strong>Code: {{ course.course_code }}
            <strong>{{ course.gpa }} </strong></p>
        <ul>
            {% for assignment in course.assignments %}
            <li>
                <div>
                    <a href="{{assignment.html_url}}">{{assignment.name}}</a>

                    <p>
                    points: {{ assignment.points_possible }},
                    </p>
                    <p>
                    grade: {{ assignment.grade }}
                    </p>
                    <h4>due at: {{ assignment.due_at }}</h4>
                </div>

            </li>
            {% else %}
            <li>No assignments</li>
            {% endfor %}
        </ul>
    </li>
    {% else %}
    <li>No courses available.</li>
    {% endfor %}
</ul>

</body>
</html>