<h1 class="text-4xl">Canvas AI Assistant Dashboard</h1>


<!-- schedule section -->

<section id="schedule">
    <h2 class="text-2xl">Upcoming Events</h2>

    <p class="animate-spin rounded-full w-fit p-2 border-2 border-dashed"
       hx-vals='{"access_token": "{{ access_token }}"}'
       hx-get="/events-list"
       hx-trigger="load" hx-swap="outerHTML"></p>

</section>


<!-- GPA section -->
<section id="gpa">
    <h2 class="text-2xl">GPA Overview</h2class>
    <div class="gpa-grid">

        <div class="gpa-course-list">
            <h3>Per Course GPA</h3>

            <div class="animate-spin rounded-full w-fit p-2 border-2 border-dashed"
                 hx-vals='{ "access_token": "{{ access_token }}" }'
                 hx-get="/course-list"
                 hx-trigger="load"
                 hx-swap="outerHTML"></div>


        </div>


        <div class="gpa-total">
            <h3>Total GPA</h3>
            <p class="animate-spin w-fit p-2 rounded-full border-2 border-dashed"
               hx-vals='{ "access_token": "{{ access_token }}" }'
               hx-get="/total-gpa"
               hx-trigger="load"
               hx-swap="outerHTML">
            </p>
        </div>


    </div>
</section>


<!--  AI tips section  -->

<section id="tips">
    <h2>AI Assistant Tips...</h2>

    <div id="response-box">
        <p class="animate-pulse" hx-get="/course-advice" hx-trigger="load"
           hx-vals='{ "access_token": "{{ access_token }}" }'
           hx-swap="outerHTML">AI
            Assistant
            booting...
        </p>

    </div>


</section>